/* About the Teacher section styles */
.about-teacher-section {
  background-color: #f9f9f9;
  padding: 4rem 0;
  text-align: center;
}

.about-teacher-container {
  max-width: 800px;
  margin: 0 auto;
}

.teacher-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.teacher-info {
  flex: 1;
  max-width: 600px;
  text-align: justify;
  padding: 0 20px; /* Adjust as needed */
}

.teacher-info h2 {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

.teacher-info p {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 2rem;
  text-align: justify;
}

.teacher-image {
  flex: 1;
  margin-right: 20px; /* Adjust as needed */
}

.teacher-image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}
