/* Contact section styles */
.contact-section {
    background-color: #f9f9f9;
    padding: 4rem 0;
    text-align: center;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
}

.contact-container h2 {
    font-size: 36px;
    font-weight: 700;
    color: #333;
    margin-bottom: 1rem;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 18px;
    color: #666;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.whatsapp-button {
    background-color: #25d366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

button.whatsapp-button:hover {
    background-color: #128C7E;
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
    .contact-container {
        padding: 0 20px; /* Adjust the padding for mobile view */
    }

    .contact-container h2 {
        font-size: 28px; /* Decrease the font size for mobile view */
        margin-bottom: 0.5rem; /* Adjust margin for mobile view */
    }

    .form-group {
        margin-bottom: 15px; /* Adjust margin for mobile view */
    }

    label {
        font-size: 16px; /* Decrease font size for labels on mobile */
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        font-size: 14px; /* Decrease font size for inputs on mobile */
    }

    button.whatsapp-button {
        font-size: 16px; /* Decrease font size for button on mobile */
    }
}
